@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");

.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.event-list > li > a{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.event-list > li > a > time{
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    /*background-color: rgb(255, 165, 0);*/
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li > a > time.f {
    background-color: rgb(255,165,0);
}

.event-list > li > a > time.i {
    background-color: rgb(0,127,255);
}
.event-list > li > a > time > span {
    display: none;
}
.event-list > li > a > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}
.event-list > li > a time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > li > a > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > a > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.event-list > li > a > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > a > .info > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > a > .social > ul {
    margin: 0px;
}
.event-list > li > a > .info > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > a > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.event-list > li > a > .info > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

@media (min-width: 768px) {
    .event-list > li > a {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .event-list > li > a > time {
        display: inline-block;
    }
    .event-list > li > a > time{
        width: 120px;
        float: left;
    }
    .event-list > li > a > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
    .event-list > li > a > time {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > a > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }
    .event-list > li > a > .info > .title,
    .event-list > li > a > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > a > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
}